<ion-view title='<img class="exposureLogo" src="img/logo-small.png" height="43" />'>
<div class="bar bar-subheader">
  <h2 class="title">Personal Overview</h2>
</div>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <!-- LOADING ICON =============================================== -->
    <!-- show loading icon if the loading variable is set to true -->
    <!-- <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p> -->

    <div class="reading">
      <linechart data="mygdata" options="mygoptions"></linechart>
    </div>

    <div width="100%">
    <div class="bar" style="width:320px;display:block;margin-left: auto;margin-right: auto;">
      <img class="exposureLogo" src="img/uv.png" height="80px" />
      <img class="exposureLogo" src="img/no.png" height="80px" />
      <img class="exposureLogo" src="img/temp.png" height="80px" />
      <img class="exposureLogo" src="img/co.png" height="80px" />
    </div>
  </div>

<!--     <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
