<ion-view title="Health Overview">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Health Levels</h1>
        <div width="100%">
    <div class="bar" style="width:350px;display:block;margin-left:auto;margin-right: auto;">
      <img class="exposureLogo" src="img/uv.png" height="80px" />
      <img class="exposureLogo" src="img/no.png" height="80px" />
      <img class="exposureLogo" src="img/temp.png" height="80px" />
      <img class="exposureLogo" src="img/co.png" height="80px" />
    </div>
  </div>
  </ion-content>
</ion-view>
