# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/android/ant-build/
platforms/android/ant-gen/
platforms/android/assets/
platforms/android/cordova/
platforms/android/CordovaLib/
platforms/android/libs/
platforms/android/platform_www/
platforms/android/src/
platforms/android/*.xml
platforms/android/.project
platforms/android/*.gradle
platforms/android/*.properties
plugins/
